extends layout

block content
    h1.text-center Add Article
    form(action="/article/edit/"+article._id, method="post")
        .form-group
            label(for="title") Title 
            input(type="text", name="title" value=article.title).form-control
        .form-group
            label(for="body") Body
            textarea(name="body").form-control= article.body
        input(type="submit", value="Submit").btn.btn-primary