doctype html
html
    head
        title Node App
        link(href="/dist/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
            a.navbar-brand(href='/') Node App
            button.navbar-toggler(aria-expanded='false', aria-controls='navbarSupportedContent', aria-label='Toggle navigation', type='button', data-target='#navbarSupportedContent', data-toggle='collapse')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Home
                    if user
                        li.nav-item
                            a.nav-link(href='/article/add') Add Article
                ul.navbar-nav.ml-auto
                    if user
                        li.nav-item
                            a.nav-link(href='/user/logout') Logout
                    else
                        li.nav-item
                            a.nav-link(href='/user/register') Register
                        li.nav-item
                            a.nav-link(href='/user/login') Login
        .container
            block content
        br
        hr
        footer
            p Copyright &copy; 2018
        script(src="/dist/jquery.min.js")
        script(src="/dist/popper.min.js")
        script(src="/dist/bootstrap/js/bootstrap.min.js")
